openapi: 3.0.0
info:
  title: Autopilot Hub API
  description: |
    Documentação da API do Autopilot Hub
    
    Endpoints para gerenciar Relatórios, Usuários, Auditoria e Notícias do Sistema.
    
    **Autenticação**: Todos os endpoints requerem autenticação via Supabase JWT Token
  version: 1.0.0
  contact:
    name: Equipe Avenida
    email: dev@avenida.com.br
  license:
    name: MIT

servers:
  - url: https://api.avenida.com.br
    description: Servidor de Produção
  - url: http://localhost:3000
    description: Servidor Local

tags:
  - name: Relatórios
    description: Operações relacionadas aos Relatórios Power BI
  - name: Usuários
    description: Gerenciar dados dos colaboradores
  - name: Auditoria
    description: Logs e trilha de atividades
  - name: Notícias
    description: Notícias e atualizações do sistema

paths:
  /api/reports:
    get:
      tags:
        - Relatórios
      summary: Listar todos os relatórios
      description: Retorna uma lista paginada de todos os relatórios disponíveis
      operationId: listReports
      parameters:
        - name: limit
          in: query
          description: Número máximo de registros a retornar
          required: false
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          description: Número de registros a pular
          required: false
          schema:
            type: integer
            default: 0
        - name: area
          in: query
          description: Filtrar por área (ex: "Vendas", "Financeiro")
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Lista de relatórios retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Report'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          description: Não autorizado - token inválido ou ausente
        '500':
          description: Erro interno do servidor
    post:
      tags:
        - Relatórios
      summary: Criar novo relatório
      description: Cria um novo relatório Power BI (apenas administradores)
      operationId: createReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportInput'
      responses:
        '201':
          description: Relatório criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Dados inválidos ou incompletos
        '401':
          description: Não autorizado
        '403':
          description: Sem permissão - apenas administradores podem criar relatórios

  /api/reports/{reportId}:
    get:
      tags:
        - Relatórios
      summary: Obter detalhes de um relatório
      operationId: getReport
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detalhes do relatório
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '404':
          description: Relatório não encontrado
    put:
      tags:
        - Relatórios
      summary: Atualizar um relatório
      operationId: updateReport
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportInput'
      responses:
        '200':
          description: Relatório atualizado com sucesso
        '404':
          description: Relatório não encontrado
        '403':
          description: Sem permissão
    delete:
      tags:
        - Relatórios
      summary: Deletar um relatório
      operationId: deleteReport
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Relatório deletado com sucesso
        '404':
          description: Relatório não encontrado
        '403':
          description: Sem permissão

  /api/users:
    get:
      tags:
        - Usuários
      summary: Listar todos os usuários
      description: Retorna lista de colaboradores (apenas para administradores)
      operationId: listUsers
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: setor
          in: query
          description: Filtrar por setor
          schema:
            type: string
      responses:
        '200':
          description: Lista de usuários
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '403':
          description: Sem permissão
    post:
      tags:
        - Usuários
      summary: Criar novo usuário
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInput'
      responses:
        '201':
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Email já registrado ou dados inválidos

  /api/audit:
    get:
      tags:
        - Auditoria
      summary: Obter logs de auditoria
      description: Retorna a trilha de atividades do sistema
      operationId: getAuditLogs
      parameters:
        - name: action
          in: query
          description: Tipo de ação (CRIAR, EDITAR, DELETAR)
          schema:
            type: string
            enum:
              - CRIAR
              - EDITAR
              - DELETAR
        - name: user_email
          in: query
          description: Email do usuário que realizou a ação
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Logs de auditoria
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLog'
                  total:
                    type: integer

  /api/news:
    get:
      tags:
        - Notícias
      summary: Listar notícias do sistema
      description: Retorna as últimas notícias e atualizações do sistema
      operationId: listNews
      parameters:
        - name: impacto
          in: query
          description: Filtrar por nível de impacto
          schema:
            type: string
            enum:
              - Alto
              - Médio
              - Baixo
        - name: categoria
          in: query
          description: Filtrar por categoria
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Lista de notícias
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/News'
                  total:
                    type: integer
    post:
      tags:
        - Notícias
      summary: Criar nova notícia
      description: Cria uma nova notícia do sistema (apenas administradores)
      operationId: createNews
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsInput'
      responses:
        '201':
          description: Notícia criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/News'
        '403':
          description: Sem permissão

  /api/auth/login:
    post:
      tags:
        - Autenticação
      summary: Login do usuário
      description: Realiza a autenticação e retorna um JWT token
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT token para autenticação
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Email ou senha inválidos
        '429':
          description: Muitas tentativas de login - tente novamente em alguns minutos

components:
  schemas:
    Report:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nome:
          type: string
        descricao:
          type: string
        area:
          type: string
        link:
          type: string
          format: uri
        criado_em:
          type: string
          format: date-time
        atualizado_em:
          type: string
          format: date-time
    
    ReportInput:
      type: object
      required:
        - nome
        - area
        - link
      properties:
        nome:
          type: string
          minLength: 3
          maxLength: 255
        descricao:
          type: string
          maxLength: 1000
        area:
          type: string
          enum:
            - Vendas
            - Financeiro
            - RH
            - Operações
            - Marketing
        link:
          type: string
          format: uri

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        nome_completo:
          type: string
        cargo:
          type: string
        setor:
          type: string
        ativo:
          type: boolean
        criado_em:
          type: string
          format: date-time

    UserInput:
      type: object
      required:
        - email
        - nome_completo
        - cargo
      properties:
        email:
          type: string
          format: email
        nome_completo:
          type: string
          minLength: 3
        cargo:
          type: string
        setor:
          type: string
        senha:
          type: string
          format: password
          minLength: 8

    AuditLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        acao:
          type: string
          enum:
            - CRIAR
            - EDITAR
            - DELETAR
        alvo:
          type: string
          description: O objeto que foi modificado (ex: "Relatório - Vendas 2024")
        admin_email:
          type: string
          format: email
        created_at:
          type: string
          format: date-time

    News:
      type: object
      properties:
        id:
          type: string
          format: uuid
        titulo:
          type: string
        descricao:
          type: string
        impacto:
          type: string
          enum:
            - Alto
            - Médio
            - Baixo
        categoria:
          type: string
        conteudo_completo:
          type: string
        publicado_em:
          type: string
          format: date-time
        criado_em:
          type: string
          format: date-time

    NewsInput:
      type: object
      required:
        - titulo
        - descricao
        - impacto
      properties:
        titulo:
          type: string
          minLength: 5
        descricao:
          type: string
          minLength: 20
        impacto:
          type: string
          enum:
            - Alto
            - Médio
            - Baixo
        categoria:
          type: string
        conteudo_completo:
          type: string

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtido através do endpoint /api/auth/login

security:
  - BearerAuth: []
